<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBh8Gl-b4c1HVmDA40eKK9dSHOqRNaAFjA&libraries=places,geometry" %>
<%= javascript_include_tag "active-map" %>
<div class="text-container">
  <div id="current"><p> </p></div>
</div>
<div id="map-parent">
  <div id="display-map"></div>
  <div id="recenter-button-parent"></div>
  <div id="map-overlay">
    <%= image_tag("map-overlay.png") %>
  </div>
</div>
