<div class="text-container">
  <h1>Set The Area For Your Trail</h1>
</div>

  <div id="map-parent">
    <div id="recenter-button-parent"></div>
    <div id="display-map"></div>
    <div id="map-overlay">
      <%= image_tag "map-overlay.png", id: "overlay-img" %>
    </div>
  </div>

<div class="text-container">
  <input id="search-box" class="controls" type="text" placeholder="Search for location">
</div>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBh8Gl-b4c1HVmDA40eKK9dSHOqRNaAFjA&libraries=places,geometry" %>
<%= javascript_include_tag "trail-map" %>
