<%= javascript_include_tag "fireflies" %>
<div class="center-text">

    <canvas id="fireflies"></canvas>
<h1 class="title">Welcome to the Breadcrumb community!</h1>
<p>
  <strong>What is Breadcrumb?</strong> Breadcrumb is a community-driven application in which users create posts of meaningful content ("crumbs"), associate them with a point in space, and then link them together in a trail. A person walking the trail will receive directional instruction to the next crumb, but will only see the full post upon arriving at the set location. Simply, <em>our users create digital content that can becomes accessible through real world exploration</em>.
  </p>
<p> In order to get the most out of our application, please read the FAQ below before you begin.</p>
  <ul>

    <li><strong>How do I make a trail?</strong> Once signed in, click 'Home' in the navigation bar. You'll be redirected to your profile, where you can see all the trails you've walked, as well as the ones you've saved for later. Click 'Create Trail'. You will be redirected to a form for initial trail information. You will then add your crumbs into the trail. Keep in mind, you can always leave the page and come back to add or remove crumbs. Once you have a complete trail, hit 'Publish'. Others can now access this trail and walk it themselves. It will also appear in the 'Explore Trails' feed.</li>
    <li><strong>What if I want to walk a trail again?</strong>If you would like to walk a trail again, but you've already accessed all of the available crumbs, you can delete the trail from your history and start again.</li>
    <li><strong>What if I don't want everyone to see my trail?</strong> Upon initial creation of the trail, select the option to make it private. Set a password and share that password with the people you want to have access. As the trail creator, the password will always be listed for you in the 'Created Trails' section on your profile.</li>
    <li><strong>What is a locked crumb???</strong> A locked crumb means that you must answer a question in order to access the full information in the crumb. If someone cannot answer the question, they will still be able to move forward, but they will never see the full information in that crumb. If you are making a locked crumb, be sure to leave some hints!</li>
  </ul>
</p>
<p>
Now that you know how it works, <em>how will you utilize Breadcrumb?</em> Create a digital scavenger hunt for your friends! Make each crumb relevant to your history with a loved one and let them follow the trail! Use your knowledge as a local to create a trail aimed towards tourists! There are so many ways to implement Breadcrumb -- it's up to you!
</p>
</div>
</div>
<% if user_signed_in? %>
  <div class="hidden"></div>
<% end %>
