  <div class="image-parent">
    <%= image_tag("forest-children.jpg", :class => "style_image") %>
  </div>

  <div class="nearby">
    <%= link_to 'Trails near you!', trails_path%>
  </div>

<% if @results != [] && !@results.nil? %>
  <h1>results:</h1>
	<% @results.each do |trail| %>
	<%= trail.name %>
	<% end %>
	<% end %>

