<br>
<br>
<h2>Type to find tags:</h2>
  <%=form_tag(tags_path, method: :"get", id: "tag-search-form") do%>
  <%=text_field_tag :search, params[:search], placeholder: "Search Tags"%>
  <%=submit_tag "Search"%>
  <%end%>

<%if @tags.present?%>
  <h3>Tags:</h3>
	<%@tags.each do |tag|%>
	 <span><%=link_to "#{tag.subject}", tag_path(tag), class: 'link'%><br></span>
	<% end %>
<% end %>
