#cloud .tag1 { padding: 0px; font-size: 0.7em; font-weight: 100; }
#cloud .tag2 { padding: 0px; font-size: 0.8em; font-weight: 200; }
#cloud .tag3 { padding: 0px; font-size: 0.9em; font-weight: 300; }
#cloud .tag4 { padding: 0px; font-size: 1.0em; font-weight: 400; }
#cloud .tag5 { padding: 0px; font-size: 1.2em; font-weight: 500; }
#cloud .tag6 { padding: 0px; font-size: 1.4em; font-weight: 600; }
#cloud .tag7 { padding: 0px; font-size: 1.6em; font-weight: 700; }
#cloud .tag8 { padding: 0px; font-size: 1.8em; font-weight: 800; }
#cloud .tag9 { padding: 0px; font-size: 2.2em; font-weight: 900; }
#cloud .tag10 { padding: 0px; font-size: 2.5em; font-weight: 900; }

#cloud { padding: 2px; line-height: 3em; text-align: center; }


#compass-arrow {font-size: 2.2em; font-weight: 50; color: #2BEFC6;}
#compass-arrow-small {font-size: .7em; font-weight: 20; color: #2BEFC6;}
.matching-color {color: #2BEFC6;}

#less-space{ margin-top: 0px; margin-bottom: 0px;}

#view img{
   height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

input[type="file"]{
width: 100%;
}

#message_area{
    height: 100px;
    width:250px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        // font-size: 20%;
    }
    // .tags{font-size: 70%;}
}


@media (max-width: 400px) {

input[type="submit"] {
      font-size: 1.75em;
    }

    .signup-login{
      position: absolute;
      top: 325px;
      right: 0;
      left: 0;
      font-size: 2em;
      animation: textglow 1.5s infinite alternate;
    }

    #signup-link {
      margin-right: auto;
      margin-left: auto;
      bottom: 0;
      }

    #login-link {
      top: 20px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 5%;
    }

    #faq-link {
      top: 100px;
      margin-right: auto;
      margin-left: auto;
      bottom: 0;
     padding-right: 8%;
    }


    .main_image {
      max-width: 100%;
    }

    .form-text {
     top: 0;
   }

    .responsive-vertical {display: none}
}

