
/* User sign in and sign forms. */
.border-form-div {
  width: 50%;
  height: 50%;
  max-width: 350px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 19px 29px 29px;
  z-index: 500;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
          z-index: 4;
}


.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

