/* light green: #2befc6 */
/*  mid green: #198c74 */
/* dark green: #0f2c2a */
/* tan: #d9cab4 */

.text-container.map-title {
  margin-top: 40px;
}

p {
  font-size: 1.25em;
}


input {
  border-radius: 5px;
  background: white;
  color: #0f2c2a;
  
}

input:focus {
  box-shadow: 0 0 8px #9bfefa;
  outline: none;
}


input[type="submit"]{
  background: #198c74 ;
  color: white;
  margin: 0 5px;
  border: 2px solid #2befc6;
}

input[type="submit"]:hover{
  background: #2befc6;
  color: #0f2c2a;
  box-shadow: 0 0 4px #9bfefa;
  border: 2px solid white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}


a:hover {
  color: white;
  text-decoration: underline;
  font-size: 1.5em;
}

body {
/*  opacity: 0;
  -webkit-transition: opacity 3s ease-in;
     -moz-transition: opacity 3s ease-in;
      -ms-transition: opacity 3s ease-in;
       -o-transition: opacity 3s ease-in;
          transition: opacity 3s ease-in;*/
  background-color: black;
  color: white;
  font-family: "Book Antiqua";

}

/*body.fadein {
    opacity: 1;
}*/

h1 {
  color: white;
  font-family: "celtichand";
  letter-spacing: 2px;
}


h2 {
  font-family: "celtichand";
  color: white;
  letter-spacing: 2px;
}
p {
  margin:  -5px;
  padding: 10px 15px;
  font-size: 2em;
}


.center-text {
  position: relative;
  width: 100%;
  margin: 30px auto;
  padding: 10px 20%;
  height: 100%;
}


@media (max-width: 1000px) { 
  .center-text { padding: 10px 5%}
  
}



.center-text li {
  font-size: 2em;
  padding: 5px 10px;
}

.title {
  text-align: center;
  margin: 20px auto 40px auto;
}

.center-text strong {
  color: #2befc6;
  padding: 0 20px 0 0;
}

.control-label {
  font-weight: normal;
}

.field {
  font-size: 1.5em;
}

#fireflies {
  z-index:1;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.main_image {
  background-size: cover;
  text-align: center;
  max-height: 100vh;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.image-parent {
   text-align: center;
   max-height: 100vh;
   position: relative

}



.text-container{
  margin: 20px auto;
  text-align: center;
}


#active-id {
  display: none;
}

#display-map {
  width: 760px;
  height: 484px;
  margin: 0px auto;
  background: #ffd9b3;
}

#blank-map-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin:auto;
  pointer-events: none;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

#map-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: -6px;
  margin:auto;
  pointer-events: none;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

#compass_face {
position: absolute;
  bottom: -80px;
  left: 0;
  right: 700px;
  margin:auto;
  pointer-events: none;
  z-index: 4;
}

#compass_hands{
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 700px;
  margin:auto;
  pointer-events: none;
  z-index: 5;
}

#map-parent {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: black;
  position: relative;

}

#pac-input {
  margin: 0px auto;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 300px;
  display: block;
    }

#pac-input:focus {
  border-color: #4d90fe;
}

#recenter-button {
  background-color: #ffe4c9;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-top: 15px;
  margin-right: 40px;
  color: rgb(25,25,25);
  font-size: 16px;
  padding: 5px 10px;
  font-family: fantasy;
}

.search-bar {
  font-size: 1.5em;
  padding: 5px 0 0 0 ;
}


#search-box {
  font-size: 1em;
  padding: 5px;
  text-align: center;
  background: white;
  border-radius: 3px;
}

#search-box:focus {
  outline-color: #ffd9b3;
}

.green-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003a26+0,000000+50,003a26+100 */
  background: #003a26; /* Old browsers */
  background: -moz-linear-gradient(left,  #003a26 0%, #000000 50%, #003a26 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #003a26 0%,#000000 50%,#003a26 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #003a26 0%,#000000 50%,#003a26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a26', endColorstr='#003a26',GradientType=1 ); /* IE6-9 */

}



button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}


div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}












.signup-login{

  font-size: 3vmin;
  color:#67f8d4;
  animation: textglow 1.5s infinite alternate;
}


#signup-link {
  display: none;
  position: absolute;
  bottom: 44%;
  right: 40%;
  color:#67f8d4;
  z-index: 2;
}

#signup-link:visited {
  color:#67f8d4;
}

#signup-link:hover{
  color:#c8fff8;
  animation: textglow 1.5s infinite alternate;
}


#login-link {
  display: none;
  position: absolute;
  bottom: 35%;
  right: 41%;
  color:#67f8d4;
  z-index: 2;
}

#login-link:visited {
  color:#67f8d4;
}

#login-link:hover{
  color:#c8fff8;
  animation: textglow 1.5s infinite alternate;
}


#faq-link {
  display: none;
  position: absolute;
  bottom: 26%;
  right: 41.5%;
  color:#67f8d4;
  z-index: 2;
}

#faq-link:visited {
  color:#67f8d4;
}

#faq-link:hover{
  color:#c8fff8;
  animation: textglow 1.5s infinite alternate;
}


@keyframes textglow {
    to {
        text-shadow: 0 0 20px #9bfefa;
    }
}




@media (max-width: 320px) {

    .signup-login{
      position: absolute;
      top: 300px;
      right: 0;
      left: 25%;
      font-size: 2em;
      animation: textglow 1.5s infinite alternate;
    }

    #signup-link {
      margin-right: auto;
      margin-left: auto;
      bottom: 0;
      }

    #login-link {
      top: 20px;
      margin-right: auto;
      margin-left: auto;
      left: 0;
    }

    #faq-link {
      top: 100px;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      bottom: 0;
    }


    .main_image {
      max-width: 100%;
    }
}




