/* light green: #2befc6 */
/*  mid green: #198c74 */
/* dark green: #0f2c2a */
/* tan: #d9cab4 */

.text-container.map-title {
  margin-top: 40px;
}

p {
  font-size: 1.25em;
}



a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}


a:hover {
  color: white;
  text-decoration: underline;
  font-size: 1.5em;
}

body {
/*  opacity: 0;
  -webkit-transition: opacity 3s ease-in;
     -moz-transition: opacity 3s ease-in;
      -ms-transition: opacity 3s ease-in;
       -o-transition: opacity 3s ease-in;
          transition: opacity 3s ease-in;*/
  background-color: black;
  color: white;
  font-family: "Book Antiqua";

}

/*body.fadein {
    opacity: 1;
}*/

h1 {
  color: white;
  font-family: "Palatino";
  letter-spacing: 2px;
}


h2 {
  font-family: "Palatino";
  color: white;
  letter-spacing: 2px;
}
p {
  margin:  -5px;
  padding: 10px 15px;
  font-size: 2em;
}


.center-text {
  position: relative;
  width: 100%;
  margin: 30px auto;
  padding: 10px 20%;
  height: 100%;
}


@media (max-width: 1000px) {
  .center-text { padding: 10px 5%}

}



.center-text li {
  font-size: 2em;
  padding: 5px 10px;
}

.title {
  text-align: center;
  margin: 20px auto 40px auto;
}

.center-text strong {
  color: #2befc6;
  padding: 0 20px 0 0;
}

.control-label {
  font-weight: normal;
}

.field {
  font-size: 1.5em;
}

#fireflies {
  z-index:1;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.main_image {
  background-size: cover;
  text-align: center;
  max-height: 100vh;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.image-parent {
   text-align: center;
   max-height: 100vh;
   position: relative

}







.text-container{
  margin: 20px auto;
  text-align: center;
}


#active-id {
  display: none;
}

#display-map {
  width: 760px;
  height: 484px;
  margin: 0px auto;
  background: #ffd9b3;
}

#blank-map-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin:auto;
  pointer-events: none;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

#map-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: -6px;
  margin:auto;
  pointer-events: none;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

#compass_face {
position: absolute;
  bottom: -80px;
  left: 0;
  right: 700px;
  margin:auto;
  pointer-events: none;
  z-index: 4;
}

#compass_hands{
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 700px;
  margin:auto;
  pointer-events: none;
  z-index: 5;
}

#map-parent {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: black;
  position: relative;

}

#pac-input {
  margin: 0px auto;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 300px;
  display: block;
    }

#pac-input:focus {
  border-color: #4d90fe;

}

#recenter-button {
  background-color: #ffe4c9;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-top: 15px;
  margin-right: 40px;
  color: rgb(25,25,25);
  font-size: 16px;
  padding: 5px 10px;
  font-family: fantasy;
}

.search-bar {
  font-size: 1.5em;
  padding: 5px 0 0 0 ;
}


#search-box {
  font-size: 1em;
  padding: 5px;
  text-align: center;
  background: white;
  border-radius: 3px;
}

#search-box:focus {
  outline-color: #ffd9b3;
}

.green-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003a26+0,000000+50,003a26+100 */
  background: #003a26; /* Old browsers */
  background: -moz-linear-gradient(left,  #003a26 0%, #000000 50%, #003a26 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #003a26 0%,#000000 50%,#003a26 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #003a26 0%,#000000 50%,#003a26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a26', endColorstr='#003a26',GradientType=1 ); /* IE6-9 */

}


::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.matching-color.mid-green {
  color: #198c74;
}


.mid-green {
  color: #198c74;
}

.i-meant-to-register {
  font-size: 0.8em;
  padding: 20px 0;
  opacity: 0.6;
}

.signup-login{

  font-size: 3vmin;
  color:#67f8d4;
  animation: textglow 1.5s infinite alternate;
}


#signup-link {
  display: none;
  position: absolute;
  bottom: 44%;
  right: 40%;
  color:#67f8d4;
  z-index: 2;
}

#signup-link:visited {
  color:#67f8d4;
}

#signup-link:hover{
  color:#c8fff8;
  animation: textglow 1.5s infinite alternate;
}


#login-link {
  display: none;
  position: absolute;
  bottom: 35%;
  right: 41%;
  color:#67f8d4;
  z-index: 2;
}

#login-link:visited {
  color:#67f8d4;
}

#login-link:hover{
  color:#c8fff8;
  animation: textglow 1.5s infinite alternate;
}


#faq-link {
  display: none;
  position: absolute;
  bottom: 26%;
  right: 41.5%;
  color:#67f8d4;
  z-index: 2;
}

#faq-link:visited {
  color:#67f8d4;
}

#faq-link:hover{
  color:#c8fff8;
  animation: textglow 1.5s infinite alternate;
}


@keyframes textglow {
    to {
        text-shadow: 0 0 20px #9bfefa;
    }
}



label {
  color: #2befc6;
  padding: 5px 0;
}

.form-text {
  position: absolute;
  left:0;
  right:0;
  top: 10%;
  padding: 10px;
  z-index: 1002;
  color: black;
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
}



textarea:focus {
  outline: none;
  box-shadow: 0 0 8px #9bfefa;
  color: black;
}



textarea, input {
  border-radius: 5px;
  background: white;
  color: white;
  box-shadow: 0 0 0px 1000px #198c74 inset;
}

 input:focus {
  box-shadow: 0 0 8px #9bfefa;
  outline: none;
  color: black;
}


input[type="submit"]{
  background: #198c74 ;
  color: white;
  margin: 10px 5px;
  border: 2px solid #2befc6;
  font-size: 1.25em;
}

input[type="submit"]:hover{
  background: #2befc6;
  color: #0f2c2a;
  box-shadow: 0 0 4px #9bfefa;
  border: 2px solid white;
}


/*
input:focus {
    box-shadow: 0 0 0px 1000px #198c74 inset;
    border: 2px solid #90fde2;
}*/

.alert {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1005;
}

.forgot-password {
  margin-top: 10px;
  font-size: 1.2em;
}

.responsive-horizontal {
    max-width: 100%;
    height: auto;
}

.responsive-vertical {
  height: 100%;
  position: absolute;
  min-height: 170px;
  bottom: 30px;
}

.responsive-vertical .unflipped {
  bottom: 0;
  height: 100%;
}


.responsive-vertical .flipped {
  bottom: 0;
  height: 100%;
}

.flipped {
       -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        height: 100%;

}

.unflipped {
       -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
        height: 100%;

}

.position-relative {
  position: relative;
}

.max-width-300 {
  max-width: 300px;
  margin: 0 auto;
}

.tag-title {
  display: inline;
}

.taglist {
  display: inline;
  font-size: 0.8em;
  padding: 0 3px;
}


.each-trail-desc .light-green {
  color: #2befc6;
  padding-right: 10px;

}


@media (max-width: 320px) {
    input[type="submit"] {

      font-size: 1.75em;
    }

    .signup-login{
      position: absolute;
      top: 300px;
      right: 0;
      left: 25%;
      font-size: 2em;
      animation: textglow 1.5s infinite alternate;
    }

    #signup-link {
      margin-right: auto;
      margin-left: auto;
      bottom: 0;
      }

    #login-link {
      top: 20px;
      margin-right: auto;
      margin-left: auto;
      left: 0;
    }

    #faq-link {
      top: 100px;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      bottom: 0;
    }


    .main_image {
      max-width: 100%;
    }

    .form-text {
     top: 0;
   }
}

@media (max-width: 440px) {


  .responsive-vertical {display: none}

}

@media  (max-width: 480px) and (orientation: landscape) {

.signup-login{
      position: absolute;
      bottom: -45px;
      right: 25%;
      left: 25%;
      font-size: 1.5em;
      animation: textglow 1.5s infinite alternate;
    }

 #signup-link {
      left: -200px;
      bottom: 0;
      }

    #login-link {
      left: 85px;
    }

    #faq-link {
      left: 240px;
    }

   .main_image {
      max-width: 100%;
    }
}




