a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

body {
/*  opacity: 0;
  -webkit-transition: opacity 3s ease-in;
     -moz-transition: opacity 3s ease-in;
      -ms-transition: opacity 3s ease-in;
       -o-transition: opacity 3s ease-in;
          transition: opacity 3s ease-in;*/
  background-color: black;
  color: white;

}

/*body.fadein {
    opacity: 1;
}*/

h1 {
  color: white;
  font-family: fantasy;
}

p {
  margin:  -5px;
  padding: 0px;
}


.image-parent {
 text-align: center;
 max-height: 100vh;
 position: relative

}

.text-container{
  margin: 10% auto;
  text-align: center;
}


.main_image {
  background-size: cover;
  text-align: center;
  max-width: 75%;
  margin:0 auto;
  max-height: 100vh;
}

.pipes {
  padding: 0 10px;
}

#signup-login{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.8vmin;
}



#active-id {
  display: none;
}

#display-map {
  width: 760px;
  height: 484px;
  margin: 0px auto;
  background: #ffd9b3;
}

#blank-map-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin:auto;
  pointer-events: none;
  max-width: 100%;
  height: auto;
  width: auto\9;
}



#map-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: -6px;
  margin:auto;
  pointer-events: none;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

#compass_face {
position: absolute;
  bottom: -80px;
  left: 0;
  right: 700px;
  margin:auto;
  pointer-events: none;
  z-index: 4;
}

#compass_hands{
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 700px;
  margin:auto;
  pointer-events: none;
  z-index: 5;
}

#map-parent {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: black;
  position: relative;

}

#pac-input {
  margin: 0px auto;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 300px;
  display: block;
    }

#pac-input:focus {
  border-color: #4d90fe;
}

#recenter-button {
  background-color: #ffe4c9;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-top: 15px;
  margin-right: 40px;
  color: rgb(25,25,25);
  font-size: 16px;
  padding: 5px 10px;
  font-family: fantasy;
}

#search-box {
  font-size: 1em;
  padding: 5px;
  text-align: center;
  background: white;
  border-radius: 3px;
}

#search-box:focus {
  outline-color: #ffd9b3;
}
