
.navbar-brand { position: relative; z-index: 20; margin: 0; font-size: 1.8em; color: white !important}

.navbar-nav.navbar-right .btn { position: relative; z-index: 20; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; z-index: 1001;}
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 19; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 30px; padding-left: 30px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #3fdfde; }
.navbar.navbar-inverse .nav-collapse { background-color: #3fdfde; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }
.container-fluid.no-padding { padding: 0px }

.container.small-margin {
  margin: 0;
  width: 100%;
}

.dark-green-navbar {
  background: #0f2c2a;
  border: 2px solid #126453;
}

.nav.navbar-nav.navbar-right li a {
  color: #2befc6 ;

}

.nav.navbar-nav.navbar-right li a:hover {
  color: white;
  text-shadow: 0 0 4px #9bfefa;
}



.navbar-header {
  position: absolute;
  left: 10px;
}

.nav-spacer {
  height: 10px;
}

button.navbar-toggle {
  position: fixed; 
  right: 1%;
}

.nav.navbar-nav.navbar-right li {
  position: relative;
  text-align: right;
  margin: 0;
}

@media (max-width: 1000px) {

    .nav.navbar-nav.navbar-right li a {
      font-size: 2em;
      padding: 20px 10px;
    }

}

#go-button {
  font-size: 1em;
}




